@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Fasthand&family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Courier Prime', monospace;
font-family: 'Roboto', sans-serif; font-family: 'Butterfly Kids', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Gochi Hand', cursive; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    padding: 0 5%;
}

.parallax {
    background-image: url('https://cdn.pixabay.com/photo/2017/04/13/21/42/old-2228749_1280.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: top-left;
    background-repeat: no-repeat;
    background-size: cover;
}

/* **************** 
        HEADER
 ***************** */
/*  NAVBAR  */
header nav ul {
    list-style: none;
    margin: 0 0 0 60%;
}

header nav ul li {
    display: inline-block;
    font-size: 2rem;
    padding: 40px 15px;
    font-family: 'Gochi Hand', cursive;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: beige;
}

/*------------------------------*/
p:nth-of-type(1) + ul{
    background: rgba(255, 165, 0, 0.6);
    box-shadow: 3px 3px 3px black;
    padding: 20px 0 20px 0;
    width: 33%;
    margin: 0 auto;
    list-style: none;
}
p:nth-of-type(1) + ul li a{
    font-size: 3rem;
    font-family: 'Gochi Hand', cursive;
    display: block;
    padding: 0 10px;
    color: beige;
    text-decoration: none;
}
p:nth-of-type(1) + ul li a:hover{
    color: rgb(4, 4, 114);
    text-decoration: underline;
}


h1 {
    font-size: 6rem;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    padding: 12% auto;
}

h2 {
    font-size: 4.5rem;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
main h2:nth-of-type(1), main h2:nth-of-type(3){
    text-align: left;
    margin: 0 0 0 5%;
}
main h2:nth-of-type(2), main h2:nth-of-type(2){
    text-align: right;
    margin: 0 10% 0 0;
}
p {
    font-size: 3rem;
    font-family: 'Gochi Hand', cursive;
    /* padding: 0 10%; */
    color: rgb(4, 4, 114);
    text-align: center;
}
main section:nth-of-type(2) p:nth-of-type(2){
    width: 70%;
    margin: 0 0 0 30%;
}
main p:nth-of-type(3){
    margin-bottom: 4vh;
}
main section:nth-of-type(1){
    background: rgba(238, 115, 152, 0.5);
    box-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 0;
    margin: 0 11%;
}
span {
    color: beige;
    font-size: 4.5rem;
    font-weight: 400;
    font-family: 'Courier Prime', monospace;
    background: black;
    padding: 0 8px;
    box-shadow: 3px 3px 3px beige;
}
span:hover {
    color: black;
    background: rgba(245, 245, 220);
    box-shadow: 3px 3px 3px rgb(82, 82, 82);
}

h3{
    padding: 0 5%;
    font-size: 4rem;
    color: rgb(4, 4, 114);
}
h4{
    font-size: 2.4rem;
    color: rgb(4, 4, 114);
    margin: 0 auto 4vh auto;
    font-family: 'Courier Prime', monospace;
    background: rgba(0, 255, 0, 0.3);
    box-shadow: 3px 3px 3px black;
    padding: 20px 15px 20px 15px;
}

main section{
    padding: 0 15%;
}
main article{
    text-align: right;
    padding-top: 15px;
    width: 65%;
    margin: 0 0 0 42%;
}
main article h4{
    background-color: rgba(255, 255, 0.1);
}

